
span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    margin-left: 0.25rem;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #575757;
    padding: 0 2rem;
    width: 100%;
}